p{
    color: rgb(241, 91, 36);font-size: 30px;
}
h1{color: darkgreen;font-size: 50px;
}
h2{
    color: rgba(24, 2, 2, 0.76);font-size: 40px;font-weight::bolder;
}
body{
    background-color: rgb(202, 199, 198);
}
p b,li,b{
    color: rgb(56, 125, 170);font-family:fantasy,;
}